<html>
    <head>
        <title>ใบงานที่ 3 การนำเสนอข้อมูลด้วยตาราง</title>
    </head>

    <body bgcolor="#adadad">
        "&nbsp;"

        <table bgcolor="#fff93d" width="550" border="1" align="center">

            <tr>
                <td width="250" height="100" align="center" bgcolor="#1a1a2b">
                    <img src="DogMeme.png" width="100%">
                </td>
                <td width="250" align="center" bgcolor="#1a1a2b">
                    <h3>
                        <font color="#dedede">นายนิพิฐพนธ์ บุณยาทร<br><br>ม.5/4 &nbsp; เลขที่ 14</font>
                    </h3>
                </td>
            </tr>

            <tr>
                <td width="250" align="center" bgcolor="#1a1a2b">
                    <h3>
                        <font color="#dedede">นายนิพิฐพนธ์ บุณยาทร<br><br>ม.5/4 &nbsp; เลขที่ 14</font>
                    </h3>
                </td>
                <td width="250" height="100" align="center" bgcolor="#1a1a2b">
                    <img src="CatMeme.png" width="100%">
                </td>
            </tr>
            
        </table>
    </body>
</html>